<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SuperMarket.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Seven Classic</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <SuperMarket.Properties.Settings>
      <setting name="COMPANY_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="COMPANY_Adress" serializeAs="String">
        <value />
      </setting>
      <setting name="COMPANY_Tel" serializeAs="String">
        <value />
      </setting>
      <setting name="COMPANY_Phone" serializeAs="String">
        <value />
      </setting>
      <setting name="COMPANY_Fax" serializeAs="String">
        <value />
      </setting>
      <setting name="COMPANY_Email" serializeAs="String">
        <value />
      </setting>
      <setting name="COMPANY_Web" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="pass" serializeAs="String">
        <value />
      </setting>
      <setting name="POS_PRINT" serializeAs="String">
        <value>GP-U80300 </value>
      </setting>
      <setting name="POS_PRINT_START" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsTrial" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsLicensed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Trial" serializeAs="String">
        <value />
      </setting>
      <setting name="CalDate" serializeAs="String">
        <value />
      </setting>
      <setting name="M" serializeAs="String">
        <value />
      </setting>
      <setting name="M2" serializeAs="String">
        <value />
      </setting>
      <setting name="M3" serializeAs="String">
        <value />
      </setting>
      <setting name="M4" serializeAs="String">
        <value />
      </setting>
      <setting name="KT" serializeAs="String">
        <value>57@57@57%49%</value>
      </setting>
      <setting name="GI" serializeAs="String">
        <value>70*70%66&amp;70*53%56&amp;68#49%55#65&amp;67%55&amp;70%66#69&amp;70@65@55%54*</value>
      </setting>
      <setting name="M1" serializeAs="String">
        <value />
      </setting>
      <setting name="COMPANY_Logo" serializeAs="String">
        <value>\\logo.png</value>
      </setting>
      <setting name="SystemBackGround" serializeAs="String">
        <value>\\BG.jpg</value>
      </setting>
      <setting name="Info" serializeAs="String">
        <value>\\Info.png</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </SuperMarket.Properties.Settings>
  </userSettings>
</configuration>